<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Crear Tipo de Clase" style="accent-color: red;">
    <app-classes-type-management-create></app-classes-type-management-create>
  </mdb-tab>
  <mdb-tab title="Eliminar Tipo Clase" style="accent-color: red;">
    <app-classes-type-management-delete></app-classes-type-management-delete>
  </mdb-tab>
  <mdb-tab title="Crear Clase" style="accent-color: red;">
    <div class="justify-content-lg-start">
      <app-classes-management-create></app-classes-management-create>
    </div>
  </mdb-tab>
  <mdb-tab title=" Mostrar Clases">
    <app-classes-management-read></app-classes-management-read>
  </mdb-tab>
  <mdb-tab title="Modificar Clase">
    <app-classes-management-edit></app-classes-management-edit>
  </mdb-tab>
  <mdb-tab title="Eliminar Clase">
    <app-classes-management-delete></app-classes-management-delete>
  </mdb-tab>
</mdb-tabs>