<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div *ngFor="let classType of classTypes">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Entrenador</div>
        <div class="card-body card-text-center">
          <h6 class="card-title fs-6 text-center">Tipo: {{classType.classType}}</h6>
        </div>
        <button type="button" (click)="deleteClassesType(classType)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>