
<div class="d-flex justify-content-start">
    <div class="d-flex container justify-content-center w-50">
      <div class="d-flex align-items-center justify-content-center">
        <div class="border p-4 rounded shadow bg-white rounded">
          <div class="row justify-content-center">
            <h1>Registro de Tipos Eventos</h1>
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
              <div class="form-outline input-group-sm">
                <label class="form-label" for="type">Tipo de evento</label>
                <input formControlName="type" type="text" id="type" class="form-control" placeholder="Tipo" ngModelrequired />
              </div>
              <h1></h1>
              <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>