<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div *ngFor="let athlete of athletes">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Atleta</div>
        <div class="card-body card-text-center">
          <h6 class="card-title fs-6 text-center">Nombre: {{athlete.athleteName}}</h6>
          <h6 class="card-title fs-6 text-center">Nombre de usuario: {{athlete.athleteUserName}}</h6>
          <h6 class="card-title fs-6 text-center">Año de Nacimiento: {{athlete.athleteBirth}}</h6>
          <h6 class="card-title fs-6 text-center">Peso: {{athlete.athleteWeight}} kg</h6>
          <h6 class="card-title fs-6 text-center">Altura: {{athlete.athleteHeight}} cm</h6>
        </div>
        <button class="btn btn-success" (click)="open(content, athlete)">Update</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" style="margin: 10px;height: 25px">
    <h4 class="modal-title" id="modal-basic-title">Actualizacion del Atleta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" style="padding: 5px; margin: 10px">
    <form [formGroup]="updateForm">
      <!-- name input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="athleteName">Nombre</label>
        <input formControlName="athleteName" type="text" id="athleteName" class="form-control" ngModelrequired />
      </div>

      <!-- username input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="athleteUserName">Nombre de Usuario</label>
        <input formControlName="athleteUserName" type="text" id="athleteUserName" class="form-control"
          ngModelrequired />
      </div>

      <!-- password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="athletePassword">Contraseña</label>
        <input formControlName="athletePassword" type="password" id="coachPass" class="form-control" ngModelrequired />
      </div>

      <!-- age input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="athleteBirth">Edad</label>
        <input formControlName="athleteBirth" type="text" id="athleteBirth" class="form-control" ngModelrequired />
      </div>

      <!-- weight input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="athleteWeight">Peso</label>
        <input formControlName="athleteWeight" type="text" id="athleteWeight" class="form-control" ngModelrequired />
      </div>

      <!-- height input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="athleteHeight">Altura</label>
        <input formControlName="athleteHeight" type="text" id="athleteHeight" class="form-control" ngModelrequired />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click'); updateAthlete()">Update</button>
  </div>
</ng-template>
<hr />