<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button style="background-color: transparent; border-style: none;">
        <mat-icon (click)="drawer.toggle();">menu</mat-icon>
      </button>
      <h1>Gestión de Deportistas</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="d-flex flex-column mb-3">
        <button mat-raised-button (click)="changeOperation('create');">
          Crear Deportista
        </button>
        <button mat-raised-button (click)="changeOperation('read');">
          Mostrar Deportistas
        </button>
        <button mat-raised-button (click)="changeOperation('update');">
          Modificar Deportista
        </button>
        <button mat-raised-button (click)="changeOperation('delete');">
          Eliminar Deportista
        </button>
        <button mat-raised-button routerLink="/adminHome">
          Volver
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
    </div>
    <div *ngIf="this.currentOperation == ''" style="height: 500px; width: 500px">MANEGEMENT MODULE</div>
    <app-athlete-managment-create *ngIf="this.currentOperation == 'create'"></app-athlete-managment-create>
    <app-athlete-managment-read *ngIf="this.currentOperation == 'read'"></app-athlete-managment-read>
    <app-athlete-managment-update *ngIf="this.currentOperation == 'update'">UPDATE OPERATION</app-athlete-managment-update>
    <app-athlete-managment-delete *ngIf="this.currentOperation == 'delete'">DELETE OPERATION</app-athlete-managment-delete>
  </mat-drawer-container>
  
  <!--
  <div *ngIf="this.currentOperation == 'create'">
    <h1>CREATE OPERATION</h1>
  </div>
  <div *ngIf="this.currentOperation == 'read'">
    <h1>READ OPERATION</h1>
  </div>
  <div *ngIf="this.currentOperation == 'update'">
    <h1>UPDATE OPERATION</h1>
  </div>
  <div *ngIf="this.currentOperation == 'delete'">
    <h1>DELETE OPERATION</h1>
  </div>
  -->
