<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Crear Atleta" style="accent-color: red;">
    <div class="justify-content-lg-start">
      <app-athlete-managment-create></app-athlete-managment-create>
    </div>
  </mdb-tab>
  <mdb-tab title=" Mostrar Atletas">
    <app-athlete-managment-read></app-athlete-managment-read>
  </mdb-tab>
  <mdb-tab title="Modificar Atleta">
    <app-athlete-managment-update></app-athlete-managment-update>
  </mdb-tab>
  <mdb-tab title="Eliminar Atleta">
    <app-athlete-managment-delete></app-athlete-managment-delete>
  </mdb-tab>
</mdb-tabs>