<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Crear Entrenador" style="accent-color: red;">
    <div class="justify-content-lg-start">
      <app-coach-management></app-coach-management>
    </div>
  </mdb-tab>
  <mdb-tab title=" Mostrar Entrenadores">
    <app-coach-management-read></app-coach-management-read>
  </mdb-tab>
  <mdb-tab title="Modificar Entrenador">
    <app-coach-management-edit></app-coach-management-edit>
  </mdb-tab>
  <mdb-tab title="Eliminar Entrenador">
    <app-coach-management-delete></app-coach-management-delete>
  </mdb-tab>
</mdb-tabs>