<header>
  <!-- <a href="https://strava.app.link/wFL2vCxcCwb" target="_blank">Strava Results</a> -->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column mb-3">
          <img src="https://i.pinimg.com/736x/83/01/57/83015788d8436fc2a1f6fc409351f83e.jpg" class="rounded-circle"
            height="125px" alt="" loading="lazy" />
          <h1 class="text-white h4" style="justify-self:center">{{ this.currentUser.userName }}</h1>
        </div>
      </div>

    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>