<div class="d-flex justify-content-center">
  <div class="d-flex flex-column-reverse">
    <div style="border-style:solid; border-color: black; margin: 15px;" *ngFor="let class of allClasses">
      <mat-card style="width: 750px;">
        <mat-card-header>
          <mat-card-title>{{ class.title }}</mat-card-title>
          <mat-card-subtitle> Fecha: {{ class.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Tipo de clase: {{ class.type }}</p>
        </mat-card-content>
        <mat-card-actions style="justify-content:space-between">
          <button class="btn btn-outline-info">Cupo: {{ class.room }}</button>
          <button id="enrollBtn" #enrollBtn
            ngClass="{{ this.enrollClassBtn(class)? 'btn btn-danger' : 'btn btn-success' }}"
            (click)="enroll(class._id, class, enrollBtn.value)"
            [disabled]="class.room == 0 && !this.enrollStatusBtn(class)"
            [value]="this.enrollStatusBtn(class)? 'Desmatricular' : 'Matricular'"> {{
            this.enrollStatusBtn(class)? 'Desmatricular' : 'Matricular'
            }}</button>
        </mat-card-actions>
        <div *ngIf="class.room == 0" class="d-flex justify-content-center">
          <p style="font-weight: bolder;" class="btn btn-danger">¡CUPO AGOTADO!</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>