<div class="d-flex justify-content-center">
  <div class="d-flex flex-column-reverse">
    <div style="border-style:solid; border-color: black; margin: 15px;" *ngFor="let class of allClasses">
      <mat-card style="width: 750px;">
        <mat-card-header>
          <mat-card-title>{{ class.title }}</mat-card-title>
          <mat-card-subtitle> Fecha: {{ class.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Tipo de clase: {{ class.type }}</p>
        </mat-card-content>
        <mat-card-actions>
          <p class="btn btn-warning">Cupo: {{ class.room }}</p>
          <button ngClass="" (click)="enroll(class._id)"> {{ this.enrollStatus }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>