<app-user-header></app-user-header>
<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Noticias">
    <app-news-management-read></app-news-management-read>
  </mdb-tab>
  <mdb-tab title="Clases">
    <app-classes-management-read></app-classes-management-read>
  </mdb-tab>
  <mdb-tab title="Eventos">
    <app-event-managment-read></app-event-managment-read>
  </mdb-tab>
</mdb-tabs>

<!--
<img src="https://source.unsplash.com/random?sig={{getRandomNumber()}}" style="height:fit-content; width:1000px">
-->