<div class="d-flex justify-content-center">
  <div class="d-flex flex-column-reverse">
    <div style="border-style:solid; border-color: black; margin: 15px;" *ngFor="let news of allNews">
      <mat-card style="width: 750px;">
        <mat-card-header>
          <mat-card-title>{{ news.title }}</mat-card-title>
          <mat-card-subtitle> Published on: {{ news.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ news.content }}</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <p>({{ news.votes }})</p> -->
          <button
            ngClass="{{ this.voteStatusBtn(news) == 'novote'? 'btn btn-outline-success' : 'btn btn-outline-success' }}"
            style="margin-right: 25px" (click)="this.vote(news._id, news, 'like')">¡Me gusta!</button>
          <button
            ngClass="{{ this.voteStatusBtn(news) == 'novote'? 'btn btn-outline-danger' : 'btn btn-outline-danger' }}"
            (click)="this.vote(news._id, news, 'dislike')">¡No me
            gusta!</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>