<app-user-header></app-user-header>
<mdb-tabs [pills]="true">
  <mdb-tab title="ThresholdCR">
    <div class=" d-flex justify-content-center">
      <img src=" ./assets/thresholdPics/thresholdMainPic.png" alt="Threshold new logo" class="img-fluid">
    </div>
  </mdb-tab>
  <mdb-tab title="Gestión de Entrenadores">
    <app-coach-sidenav-operations></app-coach-sidenav-operations>
  </mdb-tab>
  <mdb-tab title="Gestión de Atletas">
    <app-athlete-sidenav-operations></app-athlete-sidenav-operations>
  </mdb-tab>
  <mdb-tab title="Gestión de Deportes">
    <app-sport-sidenav-operations></app-sport-sidenav-operations>
  </mdb-tab>
  <mdb-tab title="Gestión de Noticias">
    <app-news-sidenav-operations></app-news-sidenav-operations>
  </mdb-tab>
  <mdb-tab title="Gestión de Clases">
    <app-classes-sidenav-operations></app-classes-sidenav-operations>
  </mdb-tab>
  <mdb-tab title="Gestión de Eventos">
    <app-event-sidenav-operations></app-event-sidenav-operations>
  </mdb-tab>
  <mdb-tab title="Salir">Salir</mdb-tab>
</mdb-tabs>