<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button style="background-color: transparent; border-style: none;">
      <mat-icon (click)="drawer.toggle();">menu</mat-icon>
    </button>
    <h1>Administración Equipo Threshold</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" style="width: 1500px; height: 500px;">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="d-flex flex-column mb-3">
      <button mat-raised-button>
        Inicio
      </button>
      <button mat-raised-button routerLink="/coachSidenav">
        Gestión de Entrenadores
      </button>
      <button mat-raised-button routerLink="/athleteSidenav">
        Gestión de Atletas
      </button>
      <button mat-raised-button routerLink="/sportSidenav">
        Gestión de Deportes
      </button>
      <button mat-raised-button routerLink="/newsFeed">
        Gestión de Noticas
      </button>
      <button mat-raised-button routerLink="/eventsSidenav">
        Gestión de Eventos
      </button>
      <button mat-raised-button routerLink="/login">
        Salir
      </button>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <app-news-management-read></app-news-management-read>
  </div>

</mat-drawer-container>