<div class="d-flex justify-content-start">
  <div class="d-flex container justify-content-center w-50">
    <div class="d-flex align-items-center justify-content-center">
      <div class="border p-4 rounded shadow bg-white rounded">
        <div class="row justify-content-center">
          <h1>Registro de Entrenadores</h1>
          <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="form-outline input-group-sm">
              <label class="form-label" for="coachName">Nombre</label>
              <input formControlName="coachName" type="text" id="coachName" #coachName class="form-control" placeholder="Nombre"
                ngModelrequired />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="coachUserName">Nombre de usuario</label>
              <input formControlName="coachUserName" type="text" id="coachUserName" class="form-control"
                placeholder="Nombre de usuario" ngModel required />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="coachPassword">Contraseña</label>
              <input formControlName="coachPassword" type="password" id="coachPassword" class="form-control"
                placeholder="Contraseña" ngModel required />
            </div>
            <h1></h1>
            <h3>Datos de personales</h3>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="coachBirth">Año de Nacimiento</label>
              <input formControlName="coachBirth" type="text" id="coachBirth" class="form-control"
                placeholder="Año de nacimiento" ngModel required />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="coachWeight">Peso</label>
              <input formControlName="coachWeight" type="text" id="coachWeight" class="form-control" placeholder="Peso"
                ngModel required />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="coachHeight">Altura</label>
              <input formControlName="coachHeight" type="text" id="coachHeight" class="form-control"
                placeholder="Altura" ngModel required />
            </div>
            <h1></h1>
            <button type="submit" class="btn btn-primary btn-block" (click)="coachName.value=''">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>