<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button style="background-color: transparent; border-style: none;">
        <mat-icon (click)="drawer.toggle();">menu</mat-icon>
      </button>
      <h1>Gestión de Eventos</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="d-flex flex-column mb-3">
        <button mat-raised-button (click)="changeOperation('create');">
          Crear Evento
        </button>
        <button mat-raised-button (click)="changeOperation('read');">
          Mostrar Eventos
        </button>
        <button mat-raised-button (click)="changeOperation('update');">
          Modificar Eventos
        </button>
        <button mat-raised-button (click)="changeOperation('delete');">
          Eliminar Eventos
        </button>
        <button mat-raised-button routerLink="/adminHome">
          Volver
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
    </div>
    <div *ngIf="this.currentOperation == ''" style="height: 500px; width: 500px">MANEGEMENT MODULE</div>
    <app-event-managment-create *ngIf="this.currentOperation == 'create'"></app-event-managment-create>
    <app-event-managment-read *ngIf="this.currentOperation == 'read'"></app-event-managment-read>
    <app-event-managment-update *ngIf="this.currentOperation == 'update'"></app-event-managment-update>
    <app-event-managment-delete *ngIf="this.currentOperation == 'delete'">DELETE OPERATION</app-event-managment-delete>
  </mat-drawer-container>
  