<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Crear Tipo de Evento">
    <app-event-type-management-create></app-event-type-management-create>
  </mdb-tab>
  <mdb-tab title="Eliminar Tipo de Evento">
    <app-event-type-management-delete></app-event-type-management-delete>
  </mdb-tab>
  <mdb-tab title="Crear Evento" style="accent-color: red;">
    <div class="justify-content-lg-start">
      <app-event-managment-create></app-event-managment-create>
    </div>
  </mdb-tab>
  <mdb-tab title=" Mostrar Eventos">
    <app-event-managment-read></app-event-managment-read>
  </mdb-tab>
  <mdb-tab title="Modificar Evento">
    <app-event-managment-update></app-event-managment-update>
  </mdb-tab>
  <mdb-tab title="Eliminar Evento">
    <app-event-managment-delete></app-event-managment-delete>
  </mdb-tab>
</mdb-tabs>