<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Crear Noticia" style="accent-color: red;">
    <div class="justify-content-lg-start">
      <app-news-management-create></app-news-management-create>
    </div>
  </mdb-tab>
  <mdb-tab title=" Mostrar Noticias">
    <app-news-management-read></app-news-management-read>
  </mdb-tab>
  <mdb-tab title="Modificar Noticia">
    <app-news-management-edit></app-news-management-edit>
  </mdb-tab>
  <mdb-tab title="Eliminar Noticia">
    <app-news-management-delete></app-news-management-delete>
  </mdb-tab>
</mdb-tabs>