<mdb-tabs [pills]="true" [justified]="true">
  <mdb-tab title="Crear Deporte" style="accent-color: red;">
    <div class="justify-content-lg-start">
      <app-sport-management-create></app-sport-management-create>
    </div>
  </mdb-tab>
  <mdb-tab title=" Mostrar Deportes">
    <app-sport-management-read></app-sport-management-read>
  </mdb-tab>
  <mdb-tab title="Modificar Deporte">
    <app-sport-management-update></app-sport-management-update>
  </mdb-tab>
  <mdb-tab title="Eliminar Deporte">
    <app-sport-management-delete></app-sport-management-delete>
  </mdb-tab>
</mdb-tabs>