<div class="d-flex justify-content-start">
  <div class="d-flex container justify-content-center w-50">
    <div class="d-flex align-items-center justify-content-center">
      <div class="border p-4 rounded shadow bg-white rounded">
        <div class="row justify-content-center">
          <h1>Registro de Deportistas</h1>
          <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="form-outline input-group-sm">
              <label class="form-label" for="name">Nombre</label>
              <input formControlName="athleteName" type="text" id="athleteName" class="form-control"
                placeholder="Nombre" ngModelrequired />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="userName">Nombre de usuario</label>
              <input formControlName="athleteUserName" type="text" id="athleteUserName" class="form-control"
                placeholder="Nombre de usuario" ngModel required />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="password">Contraseña</label>
              <input formControlName="athletePassword" type="password" id="athletePassword" class="form-control"
                placeholder="Contraseña" ngModel required />
            </div>
            <h1></h1>
            <h3>Datos de personales</h3>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="age">Año de Nacimiento</label>
              <input formControlName="athleteBirth" type="text" id="athleteBirth" class="form-control"
                placeholder="Año de nacimiento" ngModel required />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="weight">Peso</label>
              <input formControlName="athleteWeight" type="text" id="athleteWeight" class="form-control"
                placeholder="Peso" ngModel required />
            </div>
            <div class="form-outline input-group-sm">
              <label class="form-label" for="height">Altura</label>
              <input formControlName="athleteHeight" type="text" id="athleteHeight" class="form-control"
                placeholder="Altura" ngModel required />
            </div>
            <h1></h1>
            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>