<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div *ngFor="let event of events">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Evento</div>
        <div class="card-body card-text-center">
          <h6 class="card-title fs-6 text-center">Tipo: {{event.eventType}}</h6>
          <h6 class="card-title fs-6 text-center">Titulo: {{event.eventTitle}}</h6>
          <h6 class="card-title fs-6 text-center">Deportes: {{event.sportClass}}</h6>
        </div>
        <button class="btn btn-success" (click)="open(content, event)">Update</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" style="margin: 10px;height: 25px">
    <h4 class="modal-title" id="modal-basic-title">Actualizacion de Evento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" style="padding: 5px; margin: 10px">
    <form [formGroup]="updateForm">
      <!-- type input -->
      <div class="form-outline input-group-sm">
        <mat-form-field appearance="fill">
          <label>Tipo de evento</label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="selectedType" #selectedType>
            <option *ngFor="let event of events" [value]="event.eventType">
              {{event.eventType}}
            </option>
          </select>
        </mat-form-field>

      </div>

      <!-- title input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="eventTitle">Titulo de Evento</label>
        <input formControlName="eventTitle" type="text" id="eventTitle" class="form-control" ngModelrequired />
      </div>

      <!-- sports input -->
      <div class="form-outline input-group-sm" >

        <mat-form-field appearance="fill" >
          <label>Deporte</label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="selectedSport" #selectedSport>
            <option *ngFor="let sport of sports" [value]="sport.sportName">
              {{sport.sportName}}
            </option>
          </select>
        </mat-form-field>

      </div>

      <!-- content input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="eventContent">Contenido</label>
        <input formControlName="eventContent" type="text" id="eventContent" class="form-control" ngModelrequired />
      </div>

      <div class="form-outline input-group-sm" style="margin-bottom: 15px">

        <mat-form-field appearance="fill">
          <label>Fecha</label>
          <input placeholder="MM/DD/YYYY" matInput [matDatepicker]="picker" formControlName="eventDate" id="eventDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click'); updateEvent()">Update</button>
  </div>
</ng-template>
<hr />